body {
  background: url('../images/subtle_grunge.png') top left repeat;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .col,
  div[class^="col-"] {
    padding: 0;
  }
}
.container {
  padding: 0 15px;
  max-width: 720px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Eczar', serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #222;
}
p,
span,
a,
div {
  font-family: 'Gentium Basic', serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #212121;
}
.block-text,
.block-text a {
  font-size: 1rem;
}
p + p {
  margin-top: -1rem;
}
a {
  color: #DE4D1F;
}
a:hover {
  color: #DE4D1F;
}
em,
i {
  font-style: italic;
  line-height: inherit;
}
.pull-right {
  text-align: right;
}
@media (max-width: 575px) {
  .pull-right-sm {
    text-align: right;
  }
}
@media (max-width: 575px) {
  .pull-left-sm {
    text-align: left;
  }
}
.text-indent {
  text-indent: 1.375rem;
}
hr {
  border-bottom: 0.15rem #DEEAEA solid;
  width: 100%;
}
.navigation-wrapper {
  padding-left: 0;
  padding-right: 0;
  padding: 2rem 0;
  background: black url(../images/asfalt.png) top left repeat;
  margin-bottom: 4rem;
}
@media (max-width: 900px) {
  .my-octo-wrapper {
    display: none;
  }
}
.my-octo-wrapper svg {
  fill: none !important;
}
.navigation {
  justify-content: space-between;
  max-width: 720px;
  margin: 0 auto;
}
.navigation ul {
  display: flex;
}
.navigation a {
  box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.08), 1px 1px 1px black;
  flex: 0 0 23.5%;
  background: rgba(41, 41, 41, 0.22);
  -webkit-border-radius: 0.333333rem;
  -moz-border-radius: 0.333333rem;
  border-radius: 0.333333rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.25rem;
  transition: 0.3s all ease-in-out;
  padding: 0.625rem;
}
.navigation a:hover {
  background: #DE4D1F;
}
.header-null {
  display: none;
}
.header,
.entry-name {
  align-items: center;
}
h3.name {
  font-size: 1.625rem;
  margin: 0;
}
h3.name,
h3.entry-title {
  margin: 0;
}
h3.entry-title {
  font-family: 'Eczar', serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: #222;
}
@media (max-width: 768px) {
  span.phone,
  span.phone-bullet {
    display: none;
  }
}
.entry-links {
  text-align: left;
}
.entry-details {
  background: rgba(204, 204, 204, 0.38);
  padding: 20px 20px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.entry-name {
  margin-bottom: .75rem;
}
.chunk-parent {
  margin-top: 2rem;
}
@media (max-width: 400px) {
  .chunk-parent {
    margin-top: 2.5rem;
  }
}
.chunk-child {
  margin-bottom: 2rem;
}
.chunk-header {
  text-align: center;
  font-size: 1.375rem;
}
@media (max-width: 400px) {
  .chunk-header {
    margin-bottom: 1.25rem;
  }
}
