// Variables
@max-sm: ~'(max-width: 575px)';
@max-tablet: ~'(max-width: 768px)';
@tablet: ~'(min-width: 768px)';

@font-headline: 'Eczar', serif;
@font-body: 'Gentium Basic', serif;
@font-body-italic: 'Gentium Basic', serif;

@bg-img: '../images/subtle_grunge.png';

@divider-color: #DEEAEA;
@link-color: #DE4D1F;
@font-headline-color: #222;
@font-body-color: #212121;

// Mixins
.font-headline (@weight: 700, @size: 1.25rem) {
    font-family: @font-headline;
    font-weight: @weight;
    font-size:   @size;
    color:       @font-headline-color;
}

.font-body (@weight: 400, @size: 1.25rem) {
    font-family: @font-body;
    font-weight: @weight;
    font-size:   @size;
    color:       @font-body-color;
}

.border-radius (@radius: 2px) {
    -webkit-border-radius:   @radius;
    -moz-border-radius:      @radius;
    border-radius:           @radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

body {
    background: url(@bg-img) top left repeat;
    padding: 60px 0;
    // consider changing this to 1.65 later:
    line-height: 1.6;
}

// Wildcard: remove default padding on all "col-*"
// starting at tablet size
.col, div[class^="col-"] {
    @media @tablet {
	padding: 0;
    }
}

.container {
    padding: 0 15px;
    max-width: 720px;
}


// Typography:
h1,h2,h3,h4,h5,h6 {
    .font-headline();
}

p,span, a, div {
    .font-body();
}

// Offset margin-bottom for adjacent paragraphs:
p + p {
    margin-top: -1rem;
}

a {
    color: @link-color;
    &:hover { color: @link-color; }
}

em, i {
    font-style: italic;
    line-height: inherit;
}

.pull-right { text-align: right; }
.pull-right-sm {
    @media @max-sm { text-align: right; }
}
.pull-left-sm {
    @media @max-sm { text-align: left; }
}

.text-indent { text-indent: 1.375rem; }

hr {
    border-bottom: 0.15rem @divider-color solid ;
    width: 100%;
}



// Header:
.header, .entry-name {
    align-items: center;
}

.header-null {
    display: none;
}

h3.name { font-size: 1.625rem; margin: 0; }

h3.name, h3.entry-title {
    margin: 0;
}

h3.entry-title {
    .font-headline(500, 1.25rem);
}


span.phone, span.phone-bullet {
    @media @max-tablet {
	display: none;
    }
}

.entry-links {
    text-align: left;
}

.entry-details {
    background: rgba(204, 204, 204, 0.38);
    padding: 20px 20px 10px;
    .border-radius();
}

.entry-name {
    margin-bottom: .75rem;
}

// Chunks
.chunk-parent { margin-top: 2rem;}

.chunk-child {
    margin-bottom: 2rem;
}

.chunk-header {
    text-align: center;
    font-size: 1.375rem;
}
